@import "tailwindcss";

@plugin "daisyui" {
    themes: cupcake --default, dark;
}

/* Default layout size */
html,
body,
#root {
    height: 100vh;
    width: 100%;
}

/* Improve default text rendering */
body {
    line-height: 1.5;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}